/* CSS content */

html {
    font-family: Helvetica, sans-serif;
    background: rgb(247, 250, 255);
}

body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px black;
}

.logo-panel {
    text-align: center;
    font-size: 55px;
    height: 15vh;

}

/* NEED TO ALIGN TEXT IN MIDDLE */

.navigation ul {
    display:flex;
    gap: 60px;
    background-color: rgb(180, 180, 180);
    padding: 15px 40px;
    margin: 0;
    font-weight: 700;
}



.content {
    padding: 15px 80px;
}

.group-pic {
    display: flex;
    height: 55vh;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
}