/* CSS content */

html {
    font-family: Helvetica, sans-serif;
    background: rgb(247, 250, 255);
}

body {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    align-items: center;;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}

.header {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px black;
}

.logo-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;


}

/* NEED TO ALIGN TEXT IN MIDDLE */

.navigation ul {
    display:flex;
    gap: 60px;
    background-color: rgb(180, 180, 180);
    padding: 15px 40px;
    margin: 0;
    font-weight: 700;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding: 15px 0px;
}

.content {
    padding: 15px 80px;
}

.card-container,
.projects-container {
    display: flex;
    margin: 0 45px;
}

.EG,
.AM,
.NG {
    display: flex;
    align-items: center;
}

.img-card-text {
    padding: 0 25px;
    width: 500px;
}

.left-cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.right-cards {
    display: flex;
    margin: 0 10vw;

}

/*
.group-pic {
    display: flex;
    height: 45vh;
    justify-content: center;
    align-items: center;
}
*/

#home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 80px;
    font-weight: 500;
}

.center-text {
    width: 40vw;
    text-align: center;
}

#rat-intro {
    font-size: 24px;
    font-weight: 700;
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.qbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 7px outset rgb(70, 108, 231);
    border-radius: 10px;
    padding: 15px;
}

.question {
    font-size: 22px;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}